.container {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.titleContainer {
  /* min-height: 100vh; */
  /*   min-width: 35%; */
  width: 100%;
  flex-basis: 300px;
  min-height: 300px;
  flex: 1;
  background-color: #5992cd;
}

.titleContainer > div {
  margin-top: 40px;
}

.titleContainer > h2 {
  margin-top: calc(50vh - 120px);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 600;
  padding: 10px;
}

.loginContainer {
  background-color: #fff;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginContainer > h1 {
  margin-bottom: 60px;
  font-size: 3rem;
  font-weight: 800;
  -webkit-text-stroke: 3px #000;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}

.loginForm input {
  border: none;
  background-color: #5a92ce66;
  border-radius: 5px;
  width: 200px;
  text-align: center;

  padding: 2px;
  padding-left: 10px;
  padding-right: 30px;
  box-sizing: border-box;
}

.input_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.input_container input {
  margin-bottom: 0;
  padding-right: 30px;
}

.input_container img {
  margin-left: -25px;
}

.show_password_icon {
  cursor: pointer;
}

.loginForm input[type="submit"] {
  background-color: #5992cd;
  text-transform: uppercase;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  padding: 6px 12px;
  border-radius: 10px;
  width: 100px;
  cursor: pointer;
  margin-top: 40px;
  transition: 0.6s;
  border: 2px solid #5992cd;
}

.loginForm input[type="submit"]:hover {
  background-color: #fff;
  color: #5992cd;
}

@keyframes loginErrorAnimation {
  from {
    background-color: #fff;
    bottom: 70px;
  }

  to {
    background-color: red;
    bottom: 60px;
  }
}

.loginError {
  position: absolute;
  bottom: 60px;
  left: 5px;
  right: 0;
  border: none;
  border-radius: 3px;
  background-color: red;
  color: #fff;
  padding: 5px;
  font-size: 0.9rem;
}

.loginErrorAnimation {
  animation-name: loginErrorAnimation;
  animation-duration: 1.5s;
}

.errors {
  position: absolute;
  bottom: 55px;
  font-size: 0.9rem;
  color: red;
}

@media (max-width: 500px) {
  .titleContainer > h2 {
    margin-top: 120px;
    margin-bottom: -140px;
  }
}
