.container {
  min-height: 100vh;
  display: flex;
}

.titleContainer {
  min-height: 100vh;
  min-width: 35%;
  background-color: #5992cd;
}

.titleContainer > div {
  margin-top: 40px;
}

.titleContainer > h2 {
  margin-top: calc(50vh - 120px);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 600;
}

.loginContainer {
  min-width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginContainer > h1 {
  margin-bottom: 60px;
  font-size: 3rem;
  font-weight: 800;
  -webkit-text-stroke: 3px #000;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.loginForm > input {
  border: none;
  background-color: #5a92ce66;
  border-radius: 5px;
  width: 200px;
  text-align: center;
}

.loginForm input[type="text"] {
  margin-bottom: 20px;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
.loginForm input[type="password"] {
  margin-bottom: 40px;
  padding: 2px;
  box-sizing: border-box;
  padding-left: 10px;
}

.loginForm input[type="button"] {
  background-color: #5992cd;
  text-transform: uppercase;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  padding: 6px 12px;
  border-radius: 10px;
  width: 100px;
  margin: auto;
  cursor: pointer;
}
