.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
}

.title {
  margin: 32px auto;
}

.formRow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0;
}

.formRow label {
  width: 160px;
  margin-right: 10px;
}

.formRow input,
.formRow select {
  width: 250px;
  padding: 0.2rem;
  border: none;
  border-radius: 5px;
}

.formRow select {
  width: fit-content;
}

.required_message {
  margin: 30px 0;
  text-align: center;
  color: #ff0000;
  font-style: italic;
}

.input_big input {
  width: 350px;
}

.input_small input {
  width: 150px;
}

.required::after {
  content: "*";
  color: #ff0000;
  font-size: 0.9rem;
  vertical-align: top;
}

.buttons {
  margin: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 36px;
}

.buttons > button {
  width: fit-content;
}

.error_message {
  font-size: 0.9rem;
  color: #ff0000;
  margin-left: calc(160px + 10px);
  margin-bottom: 30px;
  max-width: 300px;
}

.container a {
  font-size: 0.8rem;
  margin-left: 10px;
}

.show_password_icon {
  cursor: pointer;
  padding-left: 10px;
}

.permissions {
  display: flex;
  flex-direction: column;
}

.permission {
  padding: 4px 8px;
}

.permission input {
  width: fit-content;
}

.permission label {
  display: inline-block;
  width: 150px;
  margin: 6px 0;
}

.permission_admin {
  color: #fff;
  background-color: #ff0000;
  border-radius: 5px;
}

.permission_admin:has(input:disabled) {
  background-color: hsla(0, 100%, 50%, 0.5);
}
