.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
}

.container form {
  min-width: 450px;
}

.formRow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0;
}

.formCommentsRow {
  margin-top: 20px;
  flex-direction: column;
  gap: 10px;
}

.formCommentsRow label {
  text-align: center;
}

.formRow label {
  margin-right: 10px;
}

.formRow input,
.formRow textarea {
  padding: 0;
  padding: 0.2rem;
  background-color: #d9d9d9;
  border: none;
  border-radius: 5px;
}

.formRow select {
  box-sizing: content-box;
  text-align: center;
}

.formRow svg {
  margin-left: 10px;
}

.sub_title {
  margin: 20px auto 5px;
}

.input_small input {
  width: 150px;
}

.input_big input {
  width: 350px;
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: space-between;
  margin: 60px 0;
}

.error_message {
  font-size: 0.9rem;
  color: #ff0000;
  margin-left: calc(160px + 10px);
  margin-bottom: 30px;
  max-width: 300px;
}

.container a {
  font-size: 0.8rem;
  margin-left: 10px;
}

.required::after {
  content: "*";
  color: #ff0000;
  font-size: 0.9rem;
  vertical-align: top;
}
