@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  font-size: 1rem;
}

html,
body {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;

  /* Make sure that header and footer stay in its position */
  display: flex;
  flex-direction: column;
}

html {
  overflow-y: scroll;
}

body {
  background-color: #b7d2ee;
  position: relative;
}

input {
  padding: 0.2rem;
  background-color: #fff;
  border: none;
  border-radius: 5px;
}

.button_submit {
  min-width: 100px;
  font-weight: 600;
  color: #fff;
  background-color: #2e5994;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  transition: 0.4s;
  cursor: pointer;
}

.button_submit:hover {
  color: #5992cd;
  background-color: #fff;
  outline: 1px solid #5992cd;
}

.disable_button {
  background-color: #969696 !important;
  pointer-events: none !important;
}

.disable_input {
  background-color: #ddd !important;
  color: #3b3b3b !important;
  pointer-events: none !important;
}

.button_deactivate {
  background-color: #ff0000;
  display: block;
  min-width: 100px;
  font-weight: 600;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  transition: 0.4s;
  cursor: pointer;
}

.button_deactivate:hover {
  color: #ff0000;
  background-color: #fff;
  outline: 1px solid #ff0000;
}

.button_activate {
  background-color: #008607;
  display: block;
  min-width: 100px;
  font-weight: 600;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  transition: 0.4s;
  cursor: pointer;
}

.button_activate:hover {
  color: #008607;
  background-color: #fff;
  outline: 1px solid #008607;
}

/* Remove cursor effect from Button of tooltip */
/* button[data-state="closed"],
button[data-state="open"],
button[data-state="delayed-open"] {
  cursor: default !important;
} */

/* Fix all svg after Tailwind messing with everything */
svg,
img {
  box-sizing: initial;
}
