.container {
  min-height: 100vh;
  display: flex;
}

.titleContainer {
  min-height: 100vh;
  min-width: 35%;
  background-color: #5992cd;
}

.titleContainer > div {
  margin-top: 40px;
}

.titleContainer > h2 {
  margin-top: calc(50vh - 120px);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 600;
}

.loginContainer {
  background-color: #fff;
  min-width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginContainer > h1 {
  margin-bottom: 60px;
  font-size: 3rem;
  font-weight: 800;
  -webkit-text-stroke: 3px #000;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loginForm input {
  border: none;
  background-color: #5a92ce66;
  border-radius: 5px;
  width: 200px;
  text-align: center;

  padding: 2px;
  padding-left: 10px;
  padding-right: 30px;
  box-sizing: border-box;
}

.input_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input_container input {
  margin-bottom: 0;
  padding-right: 30px;
}

.input_container img {
  transform: translateX(-25px);
}

.show_password_icon {
  cursor: pointer;
}

.loginForm input[type="submit"] {
  background-color: #5992cd;
  text-transform: uppercase;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  padding: 6px 12px;
  border-radius: 10px;
  width: 100px;
  margin: auto;
  cursor: pointer;
  margin-top: 40px;
}

@keyframes loginErrorAnimation {
  from {
    background-color: #fff;
    transform: translateY(-50px);
  }

  to {
    background-color: red;
    transform: translateY(-40px);
  }
}

.loginError {
  position: absolute;
  transform: translateY(-40px);
  border: none;
  border-radius: 3px;
  background-color: red;
  color: #fff;
  padding: 5px;
  font-size: 0.9rem;
}

.loginErrorAnimation {
  animation-name: loginErrorAnimation;
  animation-duration: 1.5s;
}

.errors {
  position: absolute;
  transform: translateY(70px);
  font-size: 0.9rem;
  color: red;
}
