.card {
  width: 200px;
  height: 80px;
  background-color: #287bd1;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: #fff;
  padding: 0 8px;
}

.card > h3 {
  text-align: center;
}
