.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 32px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.search input[type="text"] {
  width: 250px;
}

.userContainer {
  max-width: 1030px;
  padding: 12px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}

.userCard {
  cursor: pointer;
  background-color: #96c6f5;
  border-radius: 10px;
  width: 300px;
  height: fit-content;
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.userCard div {
  display: flex;
  margin: 6px 0;
}

.userCard div > p:first-child {
  margin-right: 8px;
  font-weight: 600;
}

.name {
  justify-self: center;
  align-self: center;
}

.name > p {
  font-weight: 600;
  padding: 6px;
  margin: 0 !important;
  overflow-y: auto;
  height: 2.1rem;
}

.login .content {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 240px;
  text-wrap: nowrap;
  height: 2rem;
}

.roles .content {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 180px;
  text-wrap: nowrap;
  height: 2rem;
}

.status {
  justify-content: center;
  align-items: center;
}

.status > p {
  font-weight: 800;
  font-size: 1.2rem;
}
