.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .title {
    margin: 32px;
  }
  
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
  
  .search input[type="text"] {
    width: 250px;
  }
  
  .table {
    width: fit-content;
    max-width: 1000px;
    margin: 60px auto;
  }
  
  .table tr:nth-child(even) {
    background-color: #96c6f5;
  }
  
  .table tr:hover {
    background-color: #ddd;
  }
  
  .table th {
    padding: 10px 25px;
    text-align: left;
    background-color: #5992cd;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
  }
  
  .table th svg {
    text-align: right;
    padding-left: 5px;
  }
  
  .table td {
    padding: 5px 25px;
    text-align: left;
  }
  
  .name {
    width: 250px;
  }
  
  .name p {
    width: 250px;
    line-height: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .table summary {
    list-style: none;
  }
  
  .data p {
    overflow: visible;
  }
  