.container {
  width: 100vw;
  min-height: 50px;
  box-sizing: border-box;
  padding: 8px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5992cd;
}

.container p {
  color: #fff;
  font-weight: 600;
}

.container img {
  float: left;
  border-radius: 10px;
  align-self: center;
}

.container div {
  min-height: 50px;
  min-width: 115px;
  align-self: flex-end;
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.logoutContainer > p {
  white-space: nowrap;
}

.container > p {
  margin: auto;
  text-align: center;
  font-size: 18px;
  width: fit-content;
}

.title {
  width: 100%;
  padding: 8px 12px;
}

.title,
.logout,
.container > img {
  cursor: pointer;
}

.logout {
  width: fit-content;
  align-self: flex-end;
}

.logout p {
  display: inline-block;
  margin: auto;
}

.logout svg {
  width: 16px;
  height: 16px;
  margin-bottom: -2px;
  padding: 0 4px;
}
